canvas {
  margin: auto;
  display: block;
 
}

button{
  border: none;
  font-size: 64px;
  box-shadow: 0 9px#505050;
  text-align: center;
  border-radius: 50%;
  padding: 8px;
  margin: auto;

}

button:active {
  box-shadow: 0 5px #3D3D3D;
  transform: translateY(5px);
}

table{
  position: absolute;
  left: 100px;
  top: 200px;
}

#JoyStick{
  outline: 1px solid black;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0px;
  top: 0px;
}